h1 a {
    color: #00BAF7;
    font-family: 'Oswald';
}
h2 a {
    color: #00BAF7;
    font-family: 'Oswald';
}

.page-header {
    margin-left: 0;
padding-left: 420px;

}

body {
    padding-left: 15px;
}
